
{% extends "base.html" %}
{% load static %}
{% load bag_tools %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="backgroundlayer"></div>
    <div class="container mb-2 mt-5">
        <div class="row">
            <div class="col">
                <br/>
                <h2 class=" text-black mb-4 mt-4 text-center">SHOPPING BAG</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-10  my-auto py-1 py-lg-0 text-center">
                {% if bag_items %}
                <!-- Card layout for small screens -->

                    <div class="table-responsive  d-none d-md-block">
                    <table class="table table-sm  mb-5">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col" class="fs-5">Product Info</th>
                                    <th scope="col"  class="fs-5"></th>
                                    <th scope="col"  class="fs-5">Price</th>
                                    <th scope="col"  class="fs-5">Quantity</th>
                                    <th scope="col"  class="fs-5">Subtotal</th>
                                </tr>
                            </thead>
                            {% for item in bag_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        <img class="img-fluid rounded" src="{{ item.product.first_image.image.url }}">
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                        <p class="my-0">Size: {{ item.product.size }}</p>

                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">£{{ item.product.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        
                                        <form method="POST" action="{% url 'adjust_bag' item.product.id %}" class="d-inline">
                                          {% csrf_token %}
                                         <button type="submit" name="quantity" value="{{ item.quantity|add:'-1' }}" class=" btn btn-outline-dark rounded-2">-</button>
                                         <span class="mx-2">{{ item.quantity }}</span>
                                         <button type="submit" name="quantity" value="{{ item.quantity|add:'1' }}" class="btn btn-outline-dark rounded-2">+</button>
                                        </form>
                                        <br>
                                         <form method="POST" action="{% url 'remove_from_bag' item.product.id %}" class="d-inline">
                                           {% csrf_token %}
                                         <button type="submit" class="btn btn-sm ms-2 text-danger"> Remove <i class="fa-solid fa-trash"></i></button>
                                         </form>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                                
                            {% endfor %}
                            
                        </table>
                    </div>

                    <!-- Cards for small screens -->
                   <div class="d-block d-md-none">
                       {% for item in bag_items %}
                          <div class="card mb-3">
                           <div class="card-body">
                            <div class="row align-items-center">
                              <div class="col-12">
                                 <img src="{{ item.product.first_image.image.url }}" class="img-fluid rounded">
                               </div>
                                  <div class="col-12">
                                     <h5 class="card-title mb-2">{{ item.product.name }}</h5>
                                       <p class="mb-1">Size: {{ item.product.size }}</p>
                                         <p class="mb-1">Price: £{{ item.product.price }}</p>
                                           <p class="mb-2">Quantity: {{ item.quantity }}</p>
          
                                            <!-- Quantity controls -->
                                             <form method="POST" action="{% url 'adjust_bag' item.product.id %}" class="d-inline">
                                             {% csrf_token %}
                                              <button type="submit" name="quantity" value="{{ item.quantity|add:'-1' }}" class="btn btn-outline-dark btn-sm">-</button>
                                               <span class="mx-2">{{ item.quantity }}</span>
                                              <button type="submit" name="quantity" value="{{ item.quantity|add:'1' }}" class="btn btn-outline-dark btn-sm">+</button>
                                              </form>
          
                                              <!-- Remove button -->
                                             <form method="POST" action="{% url 'remove_from_bag' item.product.id %}" class="d-inline ms-2">
                                             {% csrf_token %}
                                             <button type="submit" class="btn btn-sm btn-danger mt-2">Remove <i class="fa-solid fa-trash"></i></button>
                                             </form>
                                        </div>
                                   </div>
                              </div>
                           </div>
                        {% endfor %}
                   </div>

                    <div  class="col-12 col-lg-10  my-auto py-1 py-lg-0 text-center text-lg-end mb-5">
                                    <h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
                                    <h6><strong>Delivery: £0.00</strong></h6>
                          
                
                                    <a href="{% url 'products' %}" class=" mt-5 btn  btn-black rounded-2 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase  ">Keep Shopping</span>
                                    </a>
                                    <a href="{% url 'checkout' %}" class="btn mt-5  btn-outline-dark rounded-2 btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-dark rounded-2 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

