{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="backgroundlayer"></div>
    <div class="container">
        <div class="row text-center mt-4">
            <div class="col">
                
                <h2 class="text-uppercase mt-5 mb-4">My Profile</h2>
                
            </div>
        </div>
        {{profile}}
{% endblock %}