html {
    height: 100%;
}

body {
    background: url('/media/homepage_background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Cabin';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
.delivery{
     background: black;

}

.logo {
    font-size: 2rem;
    font-weight: 900;
    background: linear-gradient(to right, #03f10b, #1434ed,rgb(225, 11, 182),rgb(159, 2, 10));
    -webkit-background-clip: text; /* for Safari/Chrome */
    background-clip: text;
    color: transparent; /* hide original text color */
    -webkit-text-fill-color: transparent; /* for Safari */ 
    text-transform: uppercase;
}

.loading-text {
	place-self: center;
	background: linear-gradient(90deg,  rgb(193, 31, 248), rgb(84, 241, 249), rgb(193, 31, 248)) -100%/ 200%;
	/* being excessively careful with compat, 
	 * though this has been supported unprefixed and 
	 * in the shorthand across major browsers for a while;
	 * but it catches the latest browser versions supported 
	 * on Wndows XP, 7 and 8; yeah, they exist in 2025 */
	-webkit-background-clip: text;
	        background-clip: text;
	/* use color, don't use -webkit-text-fill-color anymore, 
	 * was meant to solve a problem we haven't had in years */
	color: transparent;
	
	animation: shimmer 2s linear infinite
}

@keyframes shimmer { to { background-position: 100% } }

/* avoid problems in high contrast mode */




a.category-badge > span.badge:hover {
    background: black!important;
    color: #fff !important;
}


/* Styles for the separator container */
.separator {
  border: none; /* reset default hr styling if needed */
}

.separator--line {
  border: none;
  border-bottom: 5px solid black; /* your separator style */
  width: 0;
  height: 0; /* optional, to ensure no height issues */
  animation: separator-width 1s ease-out forwards;
}
/* Keyframes for the width animation */
@keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.backgroundlayer {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.extra-margin {
  margin-top: 6rem;   /* example size, adjust as needed */
  margin-bottom: 3rem; /* or just margin-top if only spacing needed */
}

.main-logo-link {
    width: fit-content;
}
.text-shadowh1{
   color: white;
   text-shadow: 
    -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000,
    0 0 5px #000; /* optional: adds a glow or soft border */
}
.shop-now-button {
    background: white;
    color: black;
    border-color: #000;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}
.search-input{
    width:50rem;
}
.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: black;
    border-color: white;
    color: white;
}
 
/* ------------------------------- bootstrap toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* align to the right */
    gap: 10px; /* space between toasts */
}
.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}



/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}


.text-black {
    color: #000 !important;
}


.smallimg {
    cursor: pointer;
}

.btt-button {
    height: 30px;
    width: 30px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.btt-link {
    cursor: pointer;
    text-decoration: none;

}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius:5px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #a2a9b1;
}


.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5px;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: black;
    background-color: white;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: black; 
    text-decoration: underline;
}
.allauth-form-inner-content a:hover {
	color: rgb(51, 58, 253); 
    text-decoration: underline;
}



/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}


/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}

@media(max-width: 576px){
  .responsive-table {
    display: none;
  }
  .stacked-orders {
    display: block;
  }
}
@media(min-width: 577px){
  .responsive-table {
    display: block;
  }
  .stacked-orders {
    display: none;
  }
}


@media (max-width: 400px) {
  .custom-toast {
    width: 90%;      /* or 100% to fill the screen */
    max-width: 320px; /* do not exceed 320px */
    margin: 0 auto;   /* center it */
  }
}