html {
    height: 100%;
}

body {
    background: url('/media/homepage_background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Cabin';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo {
    font-size: 2rem;
    font-weight: 900;
    background: linear-gradient(to right, #03f10b, #1434ed,rgb(225, 11, 182),rgb(159, 2, 10));
    -webkit-background-clip: text; /* for Safari/Chrome */
    background-clip: text;
    color: transparent; /* hide original text color */
    -webkit-text-fill-color: transparent; /* for Safari */ 
    text-transform: uppercase;
}

.extra-margin {
  margin-top: 6rem;   /* example size, adjust as needed */
  margin-bottom: 3rem; /* or just margin-top if only spacing needed */
}

.main-logo-link {
    width: fit-content;
}
.text-shadowh1{
   color: white;
   text-shadow: 
    -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000,
    0 0 5px #000; /* optional: adds a glow or soft border */
}
.shop-now-button {
    background: white;
    color: black;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}
.search-input{
    width:50rem;
}
.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: black;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}