<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto d-flex justify-content-start">
        <li class="nav-item d-block d-md-none">
            <a class="fw-bold fs-5 nav-link text-black me-3" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown me-3">
            <a class="fw-bold fs-5 nav-link text-black me-3" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border   border-bottom-1 border-top-0 border-start-0 border-end-0 rounded-0 border-dark ">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown me-3">
            <a class="fs-5 fw-bold nav-link text-black me-3" href="#" id="blankets-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Home &amp; Living
            </a>
            <div class="dropdown-menu border  border-bottom-1 border-top-0 border-start-0 border-end-0 rounded-0 border-dark ">
                <a href="{% url 'products' %}?category=duvet_cover" class="dropdown-item">Duvet Cover</a>
                <a href="{% url 'products' %}?category=blanket_comforter" class="dropdown-item">Blanket Comforter</a>
                <a href="{% url 'products' %}?category=crushed_velvet_blanket" class="dropdown-item">Crushed Velvet Blanket</a>
                <a href="{% url 'products' %}?category=duvet_cover,blanket_comforter,crushed_velvet_blanket" class="dropdown-item">All Home &amp; Living</a>
            </div>
        </li>

        <li class="nav-item dropdown me-3">
            <a class="fs-5 fw-bold nav-link text-black me-3" href="#" id="mugs-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mugs
            </a>
            <div class="dropdown-menu border  border-bottom-1 border-top-0 border-start-0 border-end-0 rounded-0 border-dark " >
                <a href="{% url 'products' %}?category=white_mug" class="dropdown-item">White Mug</a>
                <a href="{% url 'products' %}?category=black_mug" class="dropdown-item">Black Mug</a>
                <a href="{% url 'products' %}?category=colorful_mug" class="dropdown-item">Colourful Mug</a>
                <a href="{% url 'products' %}?category=white_mug,black_mug,colorful_mug" class="dropdown-item">All Mugs</a>

            </div>
        </li>
        <li class="nav-item dropdown me-3">
            <a class="fs-5 fw-bold nav-link text-black me-3" href="#" id="journal-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Journals &amp; Notebooks
            </a>
            <div class="dropdown-menu border border-bottom-1 border-top-0 border-start-0 border-end-0 rounded-0 border-dark " >
                <a href="{% url 'products' %}?category=hardcover_journal_matt" class="dropdown-item ">Hardcover Journal Matt</a>
                <a href="{% url 'products' %}?category=hardcover_journal_matt" class="dropdown-item">All Journals &amp; Notebooks</a>
            </div>
        </li>
        <li class="nav-item dropdown me-3">
            <a class="fs-5 fw-bold nav-link text-black me-3" href="https://artwork-9d8087583ca3.herokuapp.com/" target="_blank">
                Artwork Community
            </a>
        </li>
    </ul>
</div>