{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="backgroundlayer"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5" id="main-image-container">
                    {% if product.first_image %}
                      <img id="mainImage" class="img-fluid" src="{{ product.first_image.image.url }}" alt="{{ product.name }}">
                    {% else %}
                        <img id="mainImage" class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    {% endif %}
                </div>

                {% if images_count %}
                <div class="thumbnails d-flex flex-wrap gap-2">
                {% for image in images %}
                <div class="thumbnail smallimg">
                 <img src="{{ image.image.url }}" class="img-thumbnail" style="width:80px; height:auto;" data-full-url="{{ image.image.url }}">
                </div>
                {% endfor %}
                </div>
                {% endif %}
                
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <h2 class="mb-2 text-black">{{ product.name }}</h2>
                    <p> {{ product.description }}</p>
                    <p class="lead mb-0 text-left ">Price: £{{ product.price }}</p>
                    <p class="lead mb-0 text-left ">Size: {{ product.size }}</p>
                  {% if product.original_art %}
                  <a href="{{ product.original_art }}" target="_blank" class="text-black">Original Art</a>
                  {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const thumbnails = document.querySelectorAll('.thumbnail img');
    const mainImage = document.getElementById('mainImage');

    thumbnails.forEach(function(thumb) {
        thumb.addEventListener('click', function() {
            const newSrc = this.getAttribute('data-full-url');
            mainImage.setAttribute('src', newSrc);
        });
    });
});
</script>
{% endblock %}